/*
Auteur : Mazzitelli Ryan
Date de publication : 25/01/2023
Description : Css du index.html
Version : V1
Auteur de la mise à jour : Mazzitelli Ryan
Date de mise à jour : 25/01/2023 

Modification apporté :
- 
*/

body {
    background-color: black;
}

#index ul li a{
    color: aliceblue;
    list-style-type: none;
}

#config {
    width: 20%;
}