/*
Auteur : Mazzitelli Ryan
Date de publication : 25/01/2023
Description : Css du index.html
Version : V1
Auteur de la mise à jour : Mazzitelli Ryan
Date de mise à jour : 25/01/2023 

Modification apporté :
- 
*/

/* Nom de connexion */

body {
    background-color: black;
}

header {
    position: relative;
}

/* Ceci est mon button>img>presentation.html */

#nav1 {
    
}

#presentationpng {
    float: left;
}

#configpng {}

#voirlive {
    color: aliceblue;
}

#imgbanniere {}

#formulaire {
    position: absolute;
    right: 0%;
    background-image: url(/medias/images/banner.jpg);
    margin-top: -0.4%;
    border-radius: 5%;
    border-style: groove;
}

#fieldset {
    border: none;
}

#tittlelogin {}

#nomlogin {
    color: aliceblue
}

#mdp {
    color: aliceblue
}

/* Bouton réinitialiser/envoyer */
#resetsubmit {

}

/* div1 = ensemble de #logo-TWITCH-INTAGRAM-DISCORD */
/*  margin-top:
    margin-left:
*/
#div1 {
    display: flex;
    
    display: grid;

}
#logotwitch {
    margin-top:-55px;
    margin-left: 450px;
}

#logoinstagram {
    margin-top:-55px;
    margin-left: 500px;
}

#logodiscord {
    margin-top:-55px;
    margin-left: 550px;
}

footer
{
}

#contact {
    color: aliceblue;
}

